<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Page</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div id="bodydiv">
  <!-- Header and other content -->

  <main>      
    <h2 id="t5">List of Blocks Detected by the sensors and Reported by the Users</h2>

    <% if (reports.length > 0) { %>
      <% reports.forEach(report => { %>
        <article class="news-item">
          <div class="p1">
            <a href="https://maps.app.goo.gl/osbe5iMs3mcsgbMe9">
              <p style="color: #000000;">
                <img src="/images/profilelogo.png" alt="no image" width="30px">
                <i><%= report.name %></i>
              </p>
            </a>
            <br>
            <p><%= report.block_details %></p>
            <br>
            <p class="date"><%= new Date(report.reported_at).toLocaleString() %></p>
          </div>
          
          <div class="p2">
            <% if (report.photo_path) { %>
              <a href="/uploads/<%= report.photo_path.split('/').pop() %>">
                <img src="/uploads/<%= report.photo_path.split('/').pop() %>" 
                     alt="Report photo" width="230" height="144">
              </a>
            <% } else { %>
              <img src="/images/default-drainage.jpg" alt="Default image" width="230" height="144">
            <% } %>
          </div>
        </article>
      <% }) %>
    <% } else { %>
      <div class="no-reports">
        <p>No drainage blocks reported yet. Be the first to report!</p>
      </div>
    <% } %>
  </main>

  <!-- Footer and other content -->
</div>

<script src="/js/script.js"></script>
</body>
</html>